body {margin:0px; font-family:"ו"; text-align:center; color:#5D5F52; FONT-SIZE: 9pt}
.img image {vertical-align:middle}
table {FONT-SIZE: 9pt; line-height:17px}
a {color:#465584; text-decoration: none}
a:visited {color:#465584; text-decoration : none}
a:hover {color:#000000; text-decoration : underline}
.inp2 {border:1px solid #999999}
input{BORDER-RIGHT:#40C8D0 1px solid;BORDER-TOP:#40C8D0 1px solid;FONT-SIZE:9pt;BORDER-LEFT:#40C8D0 1px solid;BORDER-BOTTOM:#40C8D0 1px solid;HEIGHT:19px;}
textarea{BORDER-RIGHT:#40C8D0 1px solid;FONT-SIZE:9pt;BORDER-LEFT:#40C8D0 1px solid;BORDER-BOTTOM:#40C8D0 1px solid;}

